.btn{
	border: solid 1px;
	padding: 20px 50px;
	text-decoration: none;
	margin-right: 30px;
}


.btn-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 0.80fr;
    gap: 25px;
}


.grid-item img {
    box-shadow: 0 0 10px 1px #BFBFBF;
    width: 600px;
}